@import url(https://db.onlinewebfonts.com/c/f658f904bad5dd2a03d24bbd041fa2c6?family=Gilam+Light);
@import url(https://db.onlinewebfonts.com/c/0c43a06ebe9252d13f5b6c75a580a551?family=Gilam+Book);
@import url(https://db.onlinewebfonts.com/c/06e559dfab3aca43ad9fb970d80c432e?family=Gilam+Regular);
@import url(https://db.onlinewebfonts.com/c/5b56141f54605514f06ad599f71b06ae?family=Gilam+Bold);
@import url(https://db.onlinewebfonts.com/c/365a84e47de3a08268d02d41df606225?family=Gilam+Heavy);
@import url(https://db.onlinewebfonts.com/c/d2ed8b705b7c8e66a6136f66978ad85f?family=Gilam+Black);

.box-shadow {
  box-shadow: 100px 55px 50px rgba(0, 0, 0, 0.2);
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.footer-d {
  background-color: #183B91;
  border-radius: 38px 38px 0% 0%;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}
.textForma input{
  text-transform: lowercase;
}
.textForma input::first-letter {
  text-transform: uppercase;
}
.fondoColor {
  background: url(../src/assets/img/mutuus-1/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fondoColor2 {
  background: url(../src/assets/img/mutuus-1/Isotipocontrata.png);
  background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: contain;
}
.format-input {
  TextField{
    border-radius: 50px;
    size: 40px;
  }

}
.button-secund{
  width: 150px;
  height: 40px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}
.text-form-acceso{
  font-family: "Gilam Book", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 590;
  line-height: 25px;
}

/* Fuentes para titulos y contenido. */
.text-font-light {
  font-family: "Gilam Light", sans-serif;
  font-size: 16px;
}
.text-font-book {
  font-family: "Gilam Book", sans-serif;
  font-size: 15px;
}

.text-font-regular {
  font-family: "Gilam Regular", sans-serif;
  font-size: 17px;
}
.text-font-Bold {
  font-family: "Gilam Bold", sans-serif;
  font-size: 16px;
}
.text-font-Heavy {
  font-family: "Gilam Heavy", sans-serif;
  font-size: 16px;
}
.text-font-Black {
  font-family: "Gilam Black", sans-serif;
  font-size: 16px;
}
/* END Fuentes para titulos y contenido. */

/* Checkbox para membershi table. */
.check-member-produc{
  margin-right:42px;
  margin-top: 8px;
}
.check-member-pago{
  margin-right:27px;
  margin-top: 8px;
}
.check-member-tabla{
  margin-right:15px;
  margin-top: 8px;
}
/* end Checkbox para membershi table. */