.box-shadow {
  box-shadow: 100px 55px 50px rgba(0, 0, 0, 0.2);
}

.input-code {
  width: 50px;
}

.container-internal_users {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container-code_access {
  display: flex;
  margin: 60px auto 75px;
  align-items: center;
  justify-content: center;

  .input-code_access {
    width: 250px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 80 15px 80px;

    input[type='number'] {
      width: 28px;
      font-size: 26px;
      text-align: center;
      border-bottom: 1px solid orange;
      color: green;
    }
  }
}